In [6]:
# Import Dependencies
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests

### Mars News

In [7]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
# URL = https://mars.nasa.gov/news

url = 'https://mars.nasa.gov/news'
response = requests.get(url)
soup = bs(response.text, 'lxml')
results = soup.find('div', class_='features')

title = results.find('div', class_='content_title').text
text = results.find('div', class_='rollover_description').text
print(title)
print(text)

NASA Invites Students to Name Mars 2020 Rover




Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

### Featured Image

In [8]:
# Visit the url for JPL Featured Space Image here.
#URL = https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

executable_path = {'executable_path': 'C:/Program Files/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

nasa_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(nasa_url)

nasa_html = browser.html
nasa_soup = bs(nasa_html, "lxml")

featured = nasa_soup.find('div', class_='default floating_text_area ms-layer')
image = featured.find('footer')
image_url = 'https://www.jpl.nasa.gov'+ image.find('a')['data-fancybox-href']
print(str(image_url))

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA00029_ip.jpg

### Weather

In [9]:
# Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
# URL = https://twitter.com/marswxreport?lang=en

twitter_url = 'https://twitter.com/marswxreport?lang=en'
twitter_response = requests.get(twitter_url)
twitter_soup = bs(twitter_response.text, 'lxml')
twitter_result = twitter_soup.find('div', class_='js-tweet-text-container')

weather = twitter_result.find('p', class_='js-tweet-text').text
weather

'We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/\xa0…pic.twitter.com/fWruE2v151'

### Mars Facts

In [16]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet 
# URL = https://space-facts.com/mars/

facts_url = 'https://space-facts.com/mars/'
tables = pd.read_html(facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
# Create pandas dataframe
df = tables[0]
df.columns = ['Description', 'Mars', 'Earth']
df.head()

          Description             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [20]:
# Reset index 
df.set_index('Description', inplace=True)
df.head()

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days

In [21]:
# Export pandas to html 
facts = df.to_html()
facts.replace("\n", "")
df.to_html('facts.html')

### Hemispheres

In [24]:
# Visit the USGS Astrogeology site here to obtain images for each of Mar's hemispheres.
# URL = https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

h_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(h_url)

h_html = browser.html
h_soup = bs(h_html, 'lxml')
base_url ="https://astrogeology.usgs.gov"

h_list = h_soup.find_all('div', class_='item')

# Create list to store dictionaries of data
h_image_urls = []

# Loop through each hemisphere 
for image in h_list:
    h_dictionary = {}
    
    href = image.find('a', class_='itemLink product-item')
    link = base_url + href['href']
    browser.visit(link)
    
    h_html2 = browser.html
    h_soup2 = bs(h_html2, 'lxml')
    
    img_title = h_soup2.find('div', class_='content').find('h2', class_='title').text
    h_dictionary['title'] = img_title
    
    img_url = h_soup2.find('div', class_='downloads').find('a')['href']
    h_dictionary['url_img'] = img_url
    
    # Append dictionary to list
    h_image_urls.append(h_dictionary)
      
h_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'url_img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'url_img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'url_img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'url_img': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]